{{ template "header.html" . }}

<div class="jumbotron">

    <br/><br/><br/>

    <div class="container">
        <h3>Interesting web pages, articles, and more</h3>
        <p><a href="https://github.com/jchavannes/links">https://github.com/jchavannes/links</a></p>
    </div>

    <br/>

    <div class="container links">
        <ul>

            {{ range $id, $link := .Links }}
            <li>
                <h4>{{ $link.Name }}</h4>
                <p class="date">{{ $link.Date }}</p>
                <p class="link"><a href="{{ $link.Url }}">{{ $link.Url }}</a></p>
                <hr/>
                <!-- <p><a href="how-to-win-friends-and-influence-people">How to Win Friends and Influence People</a></p> -->
            </li>
            {{ end }}
        </ul>
    </div>

</div>

{{ template "footer.html" . }}
